<div class="image-fija">
    <h2>ES HORA DE PREPARARSE<br/> PARA VENIR,<br/>
<strong>TE CONTAMOS COMO</strong></h2>
</div>
<h1><strong>PREPATATE</strong> </h1>
<p>Lee tu orden lo mejor que puedas e identifica que preparación necesitas, recorda que estamos para asesorarte.</p>
<div class="gris">
    <img src="../../../../../assets/statics/doc.jpg" class="img-doc" alt="preparación"/>
</div>
<div class="image-os">
<h3 style="color: #339966; margin: 2em;"><strong>En este apartado encontraras la info necesaria para venir preparado</strong> </h3>
<h3>Pasos a seguir: </h3>
<h3 style="color: #339966;"><strong>OBRAS SOCIALES</strong> </h3>
<h3>Identifica si recibimos tu obra social en caso que no podes pedir cotización</h3>
<h3 style="font-size: 15px;">Recordá traer DNI, orden médica y credencial (en caso de contar con cobertura).</h3>
<div class="row">
<div class="col-3">
    <ol>-A.P.S.O.T</ol>
    <ol>-AAPM</ol>
    <ol>-ACA SALUD</ol>
    <ol>-BRAMED</ol>
    <ol>-COBERTURA DE SALUD(BOREAL)</ol>
    <ol>-CAJA FORENSE</ol>
    <ol>-CONFERENCIA EPISCOPAL ARGETINA</ol>
    <ol>-DAMSU</ol> 
    <ol>-DASUTEN</ol>
    <ol>-DIARIOS Y REVISTAS</ol>
    <ol>-EMPLEADOS DE FARMACIA</ol>
    <ol>-FLORENTINO AMEGHINO</ol>
    <ol>-FEDERADA SALUD</ol>
</div>
<div class="col-3">
    <ol>-GALENO</ol>
    <ol>-PERSONAL DE FARMACIA</ol>
    <ol>-ESPERANZA</ol>
    <ol>-IOSFA</ol>
    <ol>-SALUD JERARQUICA</ol>
    <ol>-LUIS PASTEUR</ol>
    <ol>-LUZ Y FUERZA</ol>
    <ol>-MEDIFE</ol>
    <ol>-MUT. PASTELERÍA</ol>
    <ol>-ENCUENTRO 20 DE OCTUBRE</ol>
    <ol>-MEDICUS</ol>
    <ol>-OMINT</ol>
    <ol>-OPDEA</ol>
    <ol>-OSEP</ol>
</div>
<div class="col-3">
    <ol>-O.S.D.E.</ol>
    <ol>-O.S.E.I.V.</ol>
    <ol>-OSDIPP</ol>
    <ol>-OSPE</ol>
    <ol>-OSPIL (LECHEROS)</ol>
    <ol>-OSDOP</ol>
    <ol>-OSJERA</ol>
    <ol>-OSSACRA</ol>
    <ol>-O.S.M.A.T.A.</ol>
    <ol>-OSPES- ESTAC. DE SERVICIO</ol>
    <ol>-PREVENCION SALUD básico,A,A1,A2</ol>
    <ol>-PREVENCION SALUD A3,A4,A5,A6</ol>
    <ol>-PODER JUDICIAL NACION</ol>
    <ol>-POLICIA FEDERAL</ol>
</div>
<div class="col-3">
    <ol>-ROISA</ol>
    <ol>-SADAIC</ol>
    <ol>-SANCOR</ol>
    <ol>-SANCOR PLANES S 700 Y 800</ol>
    <ol>-SEGUROS Y REASEG.-Conv.D.</ol>
    <ol>-SER SALUD</ol>
    <ol>-SWISS MEDICAL</ol>
    <ol>-SCIS</ol>
    <ol>-T.V. SALUD</ol>
    <ol>-TEXTILES</ol>
    <ol>-UNIMED</ol>
    <ol>-UTA</ol>
    <ol>-UNION PERSONAL</ol>
    <ol>-PAMI</ol>
</div>
</div>
</div>
<div class="image-prep">
<h3 style="color: #339966;"><strong>PRESUPUESTOS</strong> </h3>
<h3><strong>Para pedir presupuesto de tus análisis es muy sencillo</strong> </h3>
<ol style="font-size: 18px;"><strong>-Primero sácale una foto nítida a tu orden para nosotros podamos leer con mayor facilidad</strong> </ol>
<ol style="font-size: 18px;"><strong >-Segundo has click en este <a href="https://wa.me/5492616529790" target="_blank">botón</a> que te llevara  a chatear por WhatsApp directamente con nosotros, envía tu foto y listo en unos minutos te estaremos enviando la cotización por ese mismo medio</strong></ol>
</div>
<div style="margin: 2em;">
<h1 style="color: #339966;"><strong>PREPARACIONES</strong> </h1>
<h1>¿Sabes leer tu orden de lo que te pidieron?</h1>
<h4><strong>Excelente te dejamos algunas de las preparaciones más importantes y las recurrentes en la solicitud de análisis</strong> </h4>
<h4>Te compartimos las indicaciones generales:</h4>
<li>Podés tomar agua, 10 a 12 hs de ayuno previa</li>
<li>Cena liviana (INFUSIÓN CON GALLETAS DE AGUA)</li>
<li>Se recomienda no tomar ninguna medicación, hacer lo de pues de la extracción</li>
<li>Se aceptan órdenes médicas en formato electrónico y no es necesario imprimirlas.</li>
</div>

<div class="cuadro">

      
</div>