<div class="image-fija">
    <h2>ES HORA DE PREPARARSE<br/> PARA VENIR,<br/>
<strong>TE CONTAMOS COMO</strong></h2>
</div>
<h1><strong>PREPATATE</strong> </h1>
<p style="text-align: center;">Lee tu orden lo mejor que puedas e identifica que preparación necesitas, recorda que estamos para asesorarte.</p>
<div class="gris">
    <img src="../../../../../assets/statics/doc.jpg" class="img-doc" alt="preparación"/>
</div>
<div class="image-os">
<h3 style="color: #339966; margin: 2em;"><strong>En este apartado encontraras la info necesaria para venir preparado</strong> </h3>
<h3>Pasos a seguir: </h3>
<h3 style="color: #339966;"><strong>OBRAS SOCIALES</strong> </h3>
<h3>Identifica si recibimos tu obra social en caso que no podes pedir cotización</h3>
<h3 style="font-size: 15px;">Recordá traer DNI, orden médica y credencial (en caso de contar con cobertura).</h3>
<div class="row">
<div class="col-3">
    <ol>-A.P.S.O.T</ol>
    <ol>-AAPM</ol>
    <ol>-ACA SALUD</ol>
    <ol>-BRAMED</ol>
    <ol>-COBERTURA DE SALUD(BOREAL)</ol>
    <ol>-CAJA FORENSE</ol>
    <ol>-CONFERENCIA EPISCOPAL ARGETINA</ol>
    <ol>-DAMSU</ol> 
    <ol>-DASUTEN</ol>
    <ol>-DIARIOS Y REVISTAS</ol>
    <ol>-EMPLEADOS DE FARMACIA</ol>
    <ol>-FLORENTINO AMEGHINO</ol>
    <ol>-FEDERADA SALUD</ol>
</div>
<div class="col-3">
    <ol>-GALENO</ol>
    <ol>-PERSONAL DE FARMACIA</ol>
    <ol>-ESPERANZA</ol>
    <ol>-IOSFA</ol>
    <ol>-SALUD JERARQUICA</ol>
    <ol>-LUIS PASTEUR</ol>
    <ol>-LUZ Y FUERZA</ol>
    <ol>-MEDIFE</ol>
    <ol>-MUT. PASTELERÍA</ol>
    <ol>-ENCUENTRO 20 DE OCTUBRE</ol>
    <ol>-MEDICUS</ol>
    <ol>-OMINT</ol>
    <ol>-OPDEA</ol>
    <ol>-OSEP</ol>
</div>
<div class="col-3">
    <ol>-O.S.D.E.</ol>
    <ol>-O.S.E.I.V.</ol>
    <ol>-OSDIPP</ol>
    <ol>-OSPE</ol>
    <ol>-OSPIL (LECHEROS)</ol>
    <ol>-OSDOP</ol>
    <ol>-OSJERA</ol>
    <ol>-OSSACRA</ol>
    <ol>-O.S.M.A.T.A.</ol>
    <ol>-OSPES- ESTAC. DE SERVICIO</ol>
    <ol>-PREVENCION SALUD básico,A,A1,A2</ol>
    <ol>-PREVENCION SALUD A3,A4,A5,A6</ol>
    <ol>-PODER JUDICIAL NACION</ol>
    <ol>-POLICIA FEDERAL</ol>
</div>
<div class="col-3">
    <ol>-ROISA</ol>
    <ol>-SADAIC</ol>
    <ol>-SANCOR</ol>
    <ol>-SANCOR PLANES S 700 Y 800</ol>
    <ol>-SEGUROS Y REASEG.-Conv.D.</ol>
    <ol>-SER SALUD</ol>
    <ol>-SWISS MEDICAL</ol>
    <ol>-SCIS</ol>
    <ol>-T.V. SALUD</ol>
    <ol>-TEXTILES</ol>
    <ol>-UNIMED</ol>
    <ol>-UTA</ol>
    <ol>-UNION PERSONAL</ol>
    <ol>-PAMI</ol>
</div>
</div>
</div>
<div class="image-prep">
<h3 style="color: #339966;"><strong>PRESUPUESTOS</strong> </h3>
<h3><strong>Para pedir presupuesto de tus análisis es muy sencillo</strong> </h3>
<ol style="font-size: 18px;"><strong>-Primero sácale una foto nítida a tu orden para nosotros podamos leer con mayor facilidad</strong> </ol>
<ol style="font-size: 18px;"><strong >-Segundo has click en este <a href="https://wa.me/5492616529790" target="_blank">botón</a> que te llevara  a chatear por WhatsApp directamente con nosotros, envía tu foto y listo en unos minutos te estaremos enviando la cotización por ese mismo medio</strong></ol>
</div>
<div style="margin: 1em 5em;">
<h1 style="color: #339966;"><strong>PREPARACIONES</strong> </h1>
<h1>¿Sabes leer tu orden de lo que te pidieron?</h1>
<h4><strong>Excelente te dejamos algunas de las preparaciones más importantes y las recurrentes en la solicitud de análisis</strong> </h4>
<h4>Te compartimos las indicaciones generales:</h4>
<li>Podés tomar agua, 10 a 12 hs de ayuno previa</li>
<li>Cena liviana (INFUSIÓN CON GALLETAS DE AGUA)</li>
<li>Se recomienda no tomar ninguna medicación, hacer lo de pues de la extracción</li>
<li>Se aceptan órdenes médicas en formato electrónico y no es necesario imprimirlas.</li>
</div>

    <div class="cuadro">
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>ANÁLISIS SIN COLESTEROL</mat-panel-title>
            </mat-expansion-panel-header>
            <p>–Realizar una cena liviana: que conste de infusión y galletas de agua (5 unidades) si usted es diabético: una cena que conste de pechuga de pollo y ensaladas verde 8hs de ayuno previo a ala extracción no tomar medicación de tiroides antes de la extracción.</p>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
    <mat-panel-title>ANÁLISIS CON COLESTEROL</mat-panel-title>
    </mat-expansion-panel-header>
    <p>-Realizar cena liviana: que conste de infusión y galletas de agua (5 unidades) 10 a 12hs de ayuno previo a la extracción si usted es diabético: una cena que conste de pechuga de pollo y ensaladas verde diabético entre 9hs de ayuno previo a la extracción.
        No tomar medicación de tiroides antes de la extracción.</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title> HORMONAS </mat-panel-title>
            </mat-expansion-panel-header>
            <p><strong>Horario ideal realizar la extracción de sangre para hormonas es entre las 7.30 a 8.30 am</strong> </p>
                <li>Pacientes femeninos se recomienda realizar entre el 1er y el 4to día del ciclo (1er día del ciclo entiéndase como primer día de sangrado)</li>
                <li>8hs de ayuno previo</li>
                <li>No tomar medicación de tiroides u hormonas a menos que el medico indique lo contrario</li>
                <li>Anticonceptivos se puede tomar.</li>
                <li>No tomar medicación de tiroides antes de la extracción</li>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title> ANÁLSIS DE PROSTATA PSA </mat-panel-title>
            </mat-expansion-panel-header>
            <p><strong>Se recomienda 48 hs antes evitar:</strong></p>
            <li>Relaciones sexuales</li>
            <li>Ejercicios como andar en bici, correr, montar caballo u otro tipo de actividades en las que les puedas hacer masaje a tu próstata.</li>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title> TENGO ORINA DE 24 HS </mat-panel-title>
            </mat-expansion-panel-header>
            <p><strong>En un recipiente (se aconseja un bidón) limpiarlo con agua solamente y dejarlo secar.</strong></p>
            <p style="color:#008080"><strong>1er día de recolección: ejemplo DOMINGO</strong> </p>
            <li>Se levanta por la mañana y descarta el total de la primera orina</li>
            <li>A partir de entonces recolectara todas las Orinas que haga en el día en ese recipiente</li>
            <li>Si en la noche va a al baño también debe recolectar las orinas.</li>
            <p style="color:#008080"><strong>2do día de recolección: ejemplo LUNES</strong> </p>
            <li>Recolectar el total de la primera orina de la mañana y venir al laboratorio</li>
            <li>Traer anotado el peso y altura</li>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title> MATERIA FECAL </mat-panel-title>
</mat-expansion-panel-header>
<p><strong>TEST DE GRAHAM</strong></p>
<ol>1-Higienizar la zona peri anal a la noche antes de acostarse.</ol>
<ol>2-No aplicar pomadas o polvos-talco en la región después de higienizar.</ol>
<ol>3-En la mañana al levantarse y antes de ir al baño, con una un hisopo apenas húmedo (no mojado)dar toques/ fregar en la zona peri anal.</ol>
<ol>4-Colocar el hisopo / gasa en un frasco seco.</ol>
<ol>5-Repetir la maniobra durante 5 días consecutivos.</ol>
<p>FRASCO SECO DE ORINA, PUEDE USAR COTONETES O PEQUEÑAS GASAS (5 MUESTRAS EN UN FRASCO)</p>
<hr/>
<p><strong>PARASITOLOGICO SERIADO DE MATERIA FECAL</strong></p>
<li>1-Recolectar 5 muestras de materia fecal, (1 por día durante 5 días consecutivos).</li>
<li>2-El tamaño muestras: Media cucharadita de las de café.</li>
<li>3-No tomar purgantes ni compuestos con bismuto, bario carbón, 72 hs antes de comenzar la recolección y hasta terminar la misma.</li>
<li>4-El recipiente se mantiene en lugar fresco y seco fuera de la heladera.</li>
<p>DEBE RECOLECTAR EN FRASCO DE FORMOL, 5 MUESTRAS EN 1 FRASCO (A DISPOSICIO DE VENTA EN EL LABORATORIO)</p>
<hr/>
<p><strong>SANGRE OCULTA EN MATERIA FECAL</strong></p>
<p>Durante 48 hs</p>
<li>No Ingerir alcohol, aspirinas ni medicamentos que contengan hierro.</li>
<li>En caso de constipación, puede ingerirse yogurt o jugo de compota colado.</li>
<li>Evitar: laxantes, carbón o supositorios.</li>
<li>Al tercer día recolectar una muestra de materia fecal en un recipiente seco (sin formol)</li>
<p>El tamaño de la muestra es de una cucharadita de la de café.</p>
</mat-expansion-panel>
<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title> CULTIVO DE ORINA </mat-panel-title>
</mat-expansion-panel-header>
<ol>1-Adquirir un recipiente estéril para orina (SIN EXCEPCIÓN).</ol>
<ol>2-Recolectar la orina después de 3 hs retención como mínimo (preferentemente durante la primera micción de la mañana).</ol>
<ol>3-<strong>MUJERES:</strong>  Antes de la recolección lavar bien los genitales externos (vulva y labios) con agua y jabón, y sobre todo el meato uretral de adelante hacia atrás. (de vulva hacia atrás no)</ol>
<ol>4-<strong>VARONES:</strong>  Antes de la recolección lavar muy bien con agua y jabón correr el prepucio e higienizar muy bien el glande.</ol>
<ol>5-Enjuagar y secar con toalla limpia (puede ser de papel).</ol>
<ol>6-Separar los labios genitales y comenzar a orinar eliminando los primeros 2 segundos y luego seguir orinando dentro del recipiente estéril.</ol>
<ol>7-Llenar hasta la mitad del frasco. Tapar verificando que le cierre sea correcto.</ol>
<ol>7-Llenar hasta la mitad del frasco. Tapar verificando que le cierre sea correcto.</ol>


</mat-expansion-panel>
<mat-expansion-panel (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>NIÑOS Y NIÑAS</mat-panel-title>
            </mat-expansion-panel-header>
            <p>¡Atención! es de suma transcendencia para nuestros pequeños que sean advertidos con antelación el procedimiento que va a realizar que es la extracción de sangre.</p>
    <p>Ayudamos a ellos puedan tomar conciencia de sus capacidades, su valentía y que van a tener apoyo de sus mayores.</p>
    <li>No engañarlo ni transmitirle ninguna experiencia negativa.</li>
    <li>No insistir con la información si el chico no pregunta.</li>
    <li>Es importante aclarar para qué se realiza el estudio y por qué</li>
    <li>No olvidar remarcar que recibirá una leve y breve punción que le va a doler un poco.</li>
    <li>Destacar la necesidad de mantener inmóvil el brazo durante la misma.</li>
            </mat-expansion-panel>
        </mat-accordion>
</div>

<h1 style="color:#008080" class="margin"><strong>ESTAS MAS QUE LISTO/A PARA VENIR NUESTROS HORARIOS DE EXTRACCIÓN:</strong> </h1>
<h1 class="margin"><strong>HORARIOS</strong> </h1> 
<h1 class="margin">LUNES A VIERNES DE 7 A 10 AM O SÁBADOS DE 07:30 A 10 SIN TURNO PREVIO </h1>
<h1 class="margin"><strong> HORARIOS DE ATENCIÓN DE SECRETARIA:</strong></h1>
<h1 class="margin">LUNES A VIERNES DE 7 A 13 Y 15 A 18.30 HS</h1>
<h1 class="margin" style="font-style: italic;"><strong>NO TE DEJES ESTAR ES IMPORTANTE RELIZAR LOS CONTROLES DE TU DIAGNOSTICO.</strong> </h1>