<button class="btn-logout" (click)="onClick()">Cerrar Sesión </button>
<div class="container">
  <div class="diseno">
    <h1>PANEL DE CONTROL</h1>
    <hr/>
    <button class="btn-subir" (click)="toggleModal()">CARGAR NUEVO PACIENTE</button>
  </div>
<hr/>
<div class="search">
  <mat-form-field class="full-width">
    <input  matInput type="text" [(ngModel)]="dni" placeholder="DNI">
</mat-form-field>
<button (click)="search()" >Buscar por DNI</button>
<div *ngIf="errorMessage">
  <p style="color: red;">No se encontraron pacientes para el DNI proporcionado.</p>
</div>
</div>
<div class="search">
  <mat-form-field class="full-width">
    <mat-label>Laboratorio</mat-label>
        <mat-select #mySelect id="lab" matInput type="text" name="lab" [(ngModel)]="lab"  >
        <mat-option value="Paracelsus">PARACELSUS</mat-option>
        <mat-option value="Galeno">GALENO</mat-option>
        <mat-option value="San Alberto">SAN ALBERTO</mat-option>
    </mat-select>
</mat-form-field>

  <button (click)="searchLab()" >Buscar por Lab</button>
</div>
<button mat-button class="btn" (click)="refrescar()">Refrescar</button>

  <table class="table" *ngIf="pacientes">
    <thead>
      <tr>
        <th>Fecha carga</th>
        <th>Nombre</th>
        <th>DNI</th>
        <th>Fecha de atención</th>
        <th>Laboratorio</th>
        <th>Archivo</th>
        <!-- <th>Editar</th> --> 
        <th>Borrar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let paciente of pacientesEnPagina ">
        <td>{{ paciente.fechaDeCarga | formatDate}}</td>
        <td>{{ paciente.name }}</td>
        <td>{{ paciente.dni }}</td>
        <td>{{ paciente.date | formatDate }}</td>
        <td>{{ paciente.lab}}</td>
        <td><a href="{{ paciente.file }}" target="_blank">Ver Archivo</a></td>
        <!--<td><button (click)="toggleModalEdit()" class="btn-edit"><i class="fa-solid fa-pencil"></i></button></td> --> 
        <td><button (click)="eliminarPaciente(paciente.id, paciente)" class="btn-edit"><i class="fa-solid fa-trash" ></i></button></td>
      </tr>
    </tbody>
    <tfoot >
      <tr>
        <td colspan="7">
        </td>
      </tr> 
    </tfoot>

  </table>    
  <div *ngIf="totalPages > 1">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="currentPage == 1">
        <a class="page-link" href="#" (click)="cambiarPagina(currentPage - 1); $event.preventDefault()">Anterior</a>
      </li>
      <li class="page-item" *ngFor="let page of paginas" [class.active]="currentPage == page">
        <a class="page-link" href="#" (click)="cambiarPagina(page); $event.preventDefault()">{{ page }}</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage == totalPages">
        <a class="page-link" href="#" (click)="cambiarPagina(currentPage + 1); $event.preventDefault()">Siguiente</a>
      </li>
    </ul>
  </div>

  <br/>
</div>
<app-modal *ngIf="modalVisible" (closeModalEvent)="closeModal()"></app-modal>
<app-modal-edit *ngIf="modalVisibleEdit" (closeModalEvent)="closeModalEdit()"></app-modal-edit>
