<div class="container">
  <button class="btn-logout" (click)="onClick()">Cerrar Sesión </button>
    <h1>PANEL DE CONTROL</h1>
    <button class="btn-subir" (click)="toggleModal()">Subir PDF</button>
</div>
<div class="container">
  <table class="table" *ngIf="(documentos$ | async) as documentos">
    <thead>
      <tr>
        <th>Position</th>
        <th>Nombre</th>
        <th>DNI</th>
        <th>Fecha</th>
        <th>Archivo</th>
       <!-- <th>Editar</th> --> 
        <th>Borrar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let documento of documentos; let i = index">
        <td>{{ i }}</td>
        <td>{{ documento.name }}</td>
        <td>{{ documento.dni }}</td>
        <td>{{ documento.date }}</td>
        <td><a href="{{ documento.file }}" target="_blank">Ver Archivo</a></td>
        <!--<td><button (click)="toggleModalEdit()" class="btn-edit"><i class="fa-solid fa-pencil"></i></button></td> --> 
        <td><button (click)="eliminarPaciente(documento.id)" class="btn-edit"><i class="fa-solid fa-trash" ></i></button></td>
      </tr>
    </tbody>
    <tfoot >
      <tr>
        <td colspan="7">
    <button [disabled]="currentPage === 0" (click)="currentPage = currentPage - 1" class="btn-pag fondo"><i class="fa-solid fa-chevron-left"></i></button>
    <span>Página {{ currentPage + 1 }}</span>
    <button [disabled]="pacientes.length < pageSize" (click)="currentPage = currentPage + 1" class="btn-pag fondo"><i class="fa-solid fa-chevron-right"></i></button>
        </td>
      </tr> 
    </tfoot>
  </table>
  <br/>
</div>

<app-modal *ngIf="modalVisible" (closeModalEvent)="closeModal()">
</app-modal>

<app-modal-edit *ngIf="modalVisibleEdit" (closeModalEvent)="closeModalEdit()"></app-modal-edit>
