.logo {
    width: 300px;
}

.icono {
    font-size: 50px;
    margin: 15px;
}

.footer {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.div-footer{
    display: flex;
    align-items: center
}

.over {
    text-align: center;
    background-color: #EEEEEE;
    padding: 20px;
    margin: 0;
}

.a-over:hover {
    color: #000;
    text-decoration: none;
}