<hr>

<div class="footer">
<img src="../../../../../assets/statics/logo principal.png" alt="Logo Laboratorio" class="logo"/>
<div class="div-footer">
    <i class="fa-brands fa-whatsapp icono" ></i>
    <i class="fa-brands fa-square-facebook icono" ></i>
    <i class="fa-solid fa-phone icono" ></i>
    <i class="fa-regular fa-envelope icono" ></i> 
    <i class="fas fa-map-marker-alt icono " ></i> 
</div></div>
    <p class="over">Copyright © 2024 LABORATORIO PARACELSUS | Powered by <a href="https://www.facebook.com/overalloficialagencia" target="_blank" class="a-over">over all</a></p>


