<header>
    <section class="iconos">
        <a href="https://wa.me/5492616529790" target="_blank"><i class="fa-brands fa-whatsapp" style="color: #34a853;"></i></a>
        <i class="fa-brands fa-square-facebook" style="color:#557DBC;"></i>
    <i class="fa-regular fa-envelope" style="color: red;"></i> 
    <i class="fas fa-map-marker-alt" style="color: #34a853;"></i> 
</section>
<hr/>
<section>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" routerLink="home"><img src="../../../../../assets/statics/logo principal.png" alt="Logp de Paracelsus" class="logo"/>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" routerLink="home">Inicio </a>
              <a class="nav-link" routerLink="nosotros">Nuestro Lab </a>
              <a class="nav-link" routerLink="pacientes">Pacientes</a>
              <a class="nav-link" routerLink="contacto">Contactos</a>

            </div>
          </div>
        </div>
      </nav>
</section>
  </header>
  