<div class="image-fija"></div>
<div class="espacio">
    <h1 class="h1-black">NOS ALEGRA QUE HAYAS LLEGADO HASTA ACA!</h1>
    <p class="p-black">Significa que has visitado toda nuestra página, significa mucho para nosotros te esperamos cordialmente para brindarte nuestro amado servicio con mucha vocación.</p></div>

<div class="image-fija2">
    <div class="center">
      <h1>HORARIOS</h1><br/>
    <h3>HORARIOS DE EXTRACCIÓN:</h3>
    <p>LUNES A VIERNES DE 7 A 10 AM</p>
    <p>SÁBADOS DE 7:30 A 13:00 Y 15:00 A 18:30 HS </p>
    <h3>HORARIOS DE ATENCIÓN DE SECRETARIA:</h3>
    <p>LUNES A VIERNES </p>
    <h3>DIRECCIÓN: </h3>
    <a href="https://www.google.com.ar/maps/place/Laboratorio+Bioquimico+PARACELSUS/@-32.9634819,-68.8533782,17z/data=!3m1!4b1!4m6!3m5!1s0x967e0bac113ca9df:0xe61a091376f7dc20!8m2!3d-32.9634819!4d-68.8533782!16s%2Fg%2F11b7jmr1rr?entry=ttu" target="_blank">SAN MARTIN 8035 CARRODILLA LUJAN DE CUYO</a>
    </div>
</div>
<div class="centrado">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3347.5235170211026!2d-68.85581962471028!3d-32.96358727274369!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x967e0bac1ac5e81f%3A0xdd7ed8475a312946!2sSan%20Mart%C3%ADn%208035%2C%20Luj%C3%A1n%20de%20Cuyo%2C%20Mendoza!5e0!3m2!1ses-419!2sar!4v1705320270989!5m2!1ses-419!2sar" width="1100" height="300px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<div class="image-fija3">
  <h1 class="h1-form">Buzón de sugerencias</h1>
  <div class="form-container">
     <!--

     -->         <form class="form" [formGroup]="registroForm" (ngSubmit)="onSubmit()" @.disabled>
          <mat-label>Nombre</mat-label>
          <mat-form-field>
              <input matInput formControlName="name" required>
              <mat-error>El campo es obligatorio</mat-error>
          </mat-form-field>

          <mat-label>Email</mat-label>
          <mat-form-field>
              <input matInput formControlName="email" required>
              <mat-error>El campo es obligatorio</mat-error>
          </mat-form-field>

          <mat-label>Mensaje</mat-label>
          <mat-form-field class="example-full-width">
              <textarea matInput formControlName="message" required rows="4" cols="30"></textarea>
              <mat-error>El campo es obligatorio</mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary">Enviar</button>
      </form>
  </div>
</div>

