<div class="image-fija"></div>
<div class="form-container">
  <form action="https://formsubmit.co/labparacelsus@gmail.com" method="POST" [formGroup]="registroForm" (ngSubmit)="onSubmit(registroForm)">
    <h1 class="h1-black">NOS ALEGRA QUE HAYAS LLEGADO HASTA ACA!</h1>

      <input type="hidden" name="_captcha" value="false">
      <input type="hidden" name="_next" value="https://labparacelsus.com">
    <mat-label>Nombre</mat-label>
    <mat-form-field>
      <input matInput formControlName="name" required>
      <mat-error *ngIf="registroForm.get('name')?.hasError('required')">El campo es obligatorio.</mat-error>
      <mat-error *ngIf="registroForm.get('name')?.hasError('pattern')">Ingresar un nombre válido</mat-error>
    </mat-form-field>

    <mat-label>Email</mat-label>
    <mat-form-field>
      <input matInput formControlName="email" required>
      <mat-error *ngIf="registroForm.get('email')?.hasError('required')">El campo es obligatorio.</mat-error>
      <mat-error *ngIf="registroForm.get('email')?.hasError('email')">Ingresar un email válido</mat-error>
    </mat-form-field>

    <mat-label>Mensaje</mat-label>
    <mat-form-field class="example-full-width">
      <textarea matInput formControlName="message" required rows="4" cols="30"></textarea>
      <mat-error *ngIf="registroForm.get('message')?.hasError('required')">El campo es obligatorio</mat-error>
    </mat-form-field>

    <button type="submit" [disabled]="enviando || !registroForm.valid">
      {{ enviando ? 'Enviando...' : 'Enviar' }}
    </button>  
    <div *ngIf="mostrarMensajeEnviado" class="mensaje-enviado" 
         style="color: green; background-color: #fff; font-weight: bolder; margin: 2em 0; padding: 1em; font-size: 1em;">
      EL FORMULARIO SE HA ENVIADO CORRECTAMENTE.
    </div>
  </form>
</div>


<div class="image-fija2">
    <div class="center">
        <h1>HORARIOS</h1><br/>
    <h3>HORARIOS DE EXTRACCIÓN:</h3>
    <p>LUNES A VIERNES DE 7 A 10 AM</p>
    <p>SÁBADOS DE 7:30 A 13:00 Y 15:00 A 18:30 HS </p>
    <h3>RECORDÁ QUE REALIZAMOS EXTRACCIONES A DOMICILIO</h3>
    <h3>HORARIOS DE ATENCIÓN DE SECRETARIA:</h3>
    <p>LUNES A VIERNES </p>
    <h3>DIRECCIÓN: </h3>
    <a href="https://www.google.com.ar/maps/place/Laboratorio+Bioquimico+PARACELSUS/@-32.9634819,-68.8533782,17z/data=!3m1!4b1!4m6!3m5!1s0x967e0bac113ca9df:0xe61a091376f7dc20!8m2!3d-32.9634819!4d-68.8533782!16s%2Fg%2F11b7jmr1rr?entry=ttu" target="_blank">SAN MARTIN 8035 CARRODILLA LUJAN DE CUYO</a>
    </div>
</div>

<!--
<div class="espacio">
  <p class="p-black">Significa que has visitado toda nuestra página, significa mucho para nosotros te esperamos cordialmente para brindarte nuestro amado servicio con mucha vocación.</p>
</div>
--> 