<hr>

<div class="footer">
<img src="../../../../../assets/statics/logo principal.png" alt="Logo Laboratorio" class="logo"/>
<div class="div-footer">
        <a href="https://www.google.com/maps?ll=-32.963607,-68.853241&z=15&t=m&hl=es-ES&gl=US&mapclient=embed&q=San+Mart%C3%ADn+8035+m5505+Luj%C3%A1n+de+Cuyo+Mendoza" target="_blank"><i class="fas fa-map-marker-alt icono " ></i> </a>
        <a href="https://wa.me/5492616529790" target="_blank"><i class="fa-brands fa-whatsapp icono" ></i></a>
        <a href="tel:2614360714"><i class="fa-solid fa-phone icono" ></i></a>
    <a href="https://www.facebook.com/ParacelsusLaboratorio/" target="_blank"><i class="fa-brands fa-square-facebook icono" ></i></a>

    <a href="mailto:labparacelsus@gmail.com" target="_blank"><i class="fa-regular fa-envelope icono" ></i> </a>

</div></div>
    <p class="over">Copyright © 2024 LABORATORIO PARACELSUS | Powered by <a href="https://www.facebook.com/overalloficialagencia" target="_blank" class="a-over">over all</a></p>


