<section>
    <ngb-carousel class="full-width-carousel">
        <ng-template ngbSlide>
            <img src="../../../../../assets/statics/doctor.jpg" alt="Slide 1">
            <div class="carousel-caption">
                <h3>TE DAMOS LA BIENVENIDA A NUESTRO LABORATORIO</h3>              
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img src="../../../../../assets/statics/carrusel.jpg" alt="Slide 2" class="oscura">
            <div class="carousel-caption1">
                <h3>HORARIO APERTURA</h3>              
                <h3 class="amarillo">APERTURA </h3>
                <h3>7am SIN TURNO</h3>
                <h3>SAN MARTÍN 8035, CARRODILLA</h3>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img src="../../../../../assets/statics/carrusel3.jpg" alt="Slide 2" class="oscura" >
            <div class="carousel-caption">
                <h3>NAVEGA POR NUESTRA WEB PARA VER TODA LA INFO!</h3>              
            </div>
        </ng-template>
        </ngb-carousel>
</section>
<div class="container">
    <img src="../../../../../assets/statics/logo principal.png" alt="Logo de Paracelsus" class="logo"/>
    <p>Desde el sueño de un matrimonio hemos crecido con el fin de cumplir lo que ellos anhelaban que es poder brindar salud y servicio a la comunidad de Carrodilla.</p>
    <p>Pudiendo desarrollarse como emprendedores en una trayecto mas de 20 años y poder compartir su crecimiento y prosperidad con sus hijos y colaboradores.</p>
    <p>Y con el esfuerzo nos vamos innovando día a día con la ayuda de nuestros pacientes que nos visitan, profesionales que nos aconsejan y la templanza de no rendirse nunca y ser siempre mejor.</p>
</div>
<div class="container">
    <h1>SERVICIOS</h1>
    <div class="row">
        <div class="col-4 ss-1 col-verde">
            <figure><img src="../../../../../assets/statics/equipomedicoblanco-150x150.png" class="figure"/>
                <button class="boton-caja"><a (click)="navigateTo('/patient/nosotros')"> Nuestro laboratorio</a></button>
            </figure>
        </div>
        <div class="col-4 ss-2 col-verde">
            <figure><img src="../../../../../assets/statics/analisisblanco-150x150.png" class="figure"/>
                <button class="boton-caja"><a (click)="navigateTo('/patient/pacientes')" >¿Sabes como prepararte?</a></button>
            </figure>
        </div>
        <div class="col-4 ss-3 col-verde">
            <figure>
              <img src="../../../../../assets/statics/analisisdesangreblanco2-150x150.png" class="figure"/>
              <button class="boton-caja">
                  Extracción a domicilio
              </button>
              <button class="boton-extraccion">
                <a href="https://wa.me/5492616529790" target="_blank">
                    Consultar!
                  </a>
              </button>
            </figure>
          </div>
    </div>
</div>
<div class="container">
    <h1>OBRAS SOCIALES</h1>
    <div class="row">
        <div class="col-4 col-os">
            <img src="../../../../../../assets/statics/osde.jpg" alt="Logo Osde" class="logos"/>
            <img src="../../../../../../assets/statics/medife.png" alt="Logo Medife" class="logos"/>
            <img src="../../../../../../assets/statics/descarga.png" alt="Logo PAMI" class="logos"/>
        </div>
        <div class="col-4 col-os">
            <img src="../../../../../../assets/statics/swt.jpg" alt="Logo Swiss Medical" class="logos"/>
            <img src="../../../../../../assets/statics/galeno.png" alt="Logo Galeno" class="logos"/>
            <img src="../../../../../../assets/statics/descarga.jpeg" alt="Logo Osep" class="logos"/>
        </div>
        <div class="col-4 col-os">
            <img src="../../../../../../assets/statics/omint.png" alt="Logo Omint" class="logos"/>
            <img src="../../../../../../assets/statics/sancor.png" alt="Logo Sancor Salud" class="logos"/>
            <img src="../../../../../../assets/statics/medicus.jpeg" alt="Logo Medicus" class="logos"/>
        </div>
    </div>
        <button class="whatsapp-button" (click)="whatsAppRedirect()">
    <div class="button-content">

      <span class="button-title">¡CONSULTAR POR MÁS!</span>
    </div>
  </button> 
<h4>NUESTROS HORARIOS</h4>
    <p>LUNES A VIERNES DE 07HS. A 11HS. AM O SÁBADOS DE 07:30HS. A 10:30HS. SIN TURNO PREVIO</p>
    <h4>HORARIOS DE ATENCIÓN DE SECRETARIA:</h4>
    <p>LUNES A VIERNES DE 07HS. A 13HS. Y 15 A 18.30 HS</p>
    <h4>NOS UBICAMOS EN:</h4>
    <p>SAN MARTÍN 8035 CARRODILLA LUJÁN DE CUYO</p>
    <!--
    <div ><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3347.5235170211026!2d-68.85581962471028!3d-32.96358727274369!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x967e0bac1ac5e81f%3A0xdd7ed8475a312946!2sSan%20Mart%C3%ADn%208035%2C%20Luj%C3%A1n%20de%20Cuyo%2C%20Mendoza!5e0!3m2!1ses-419!2sar!4v1705320270989!5m2!1ses-419!2sar" width="1100" height="300px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
    -->
    <div style="position: relative; overflow: hidden; padding-top: 40%;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3347.5235170211026!2d-68.85581962471028!3d-32.96358727274369!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x967e0bac1ac5e81f%3A0xdd7ed8475a312946!2sSan%20Mart%C3%ADn%208035%2C%20Luj%C3%A1n%20de%20Cuyo%2C%20Mendoza!5e0!3m2!1ses-419!2sar!4v1705320270989!5m2!1ses-419!2sar" 
            width="100%" 
            height="100%" 
            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 0;" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
    
    
</div>
