.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

  .error-message {
    color: red;
    font-size: 17px;
    font-weight: 400;
  }
  
  .modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 80%; 
    max-width: 500px;
    height: auto;
    box-sizing: border-box;
    position: relative;
    z-index: 1000;
  }


  .close-btn {
    position: absolute;
    top: 1em;
    right: 2em;
    border: none;
    background-color: #fff;
  }
  
  i{
    font-size: 2em;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
    
  }

  .full-width{
    min-width: 300px !important;
  }

  input[type="file"] {
    margin: 1em;
    border-bottom: #000;
    background-color: #ECECEC;
    padding-top: 24px;
    padding-bottom: 8px;    
    min-height: 56px;
}

.btn-info {
  margin: 1em;
}

.file-name {
  font-size: 15px;
  color: #000;
}

.mat-mdc-form-field {
  height: 4em !important;
  }

