<div class="modal">
    <div class="modal-content">
        <button class="close-btn" (click)="closeModal()"><i class="fa-regular fa-circle-xmark"></i></button>
        <form  [formGroup]="formPaciente">
            <mat-form-field class="full-width">
                <mat-label>Nombre paciente</mat-label>
                <input type="text" class="my-custom-input" id="name"  (input)="toUppercase($event)"name="name"  formControlName="name"
                    matInput placeholder="Ingrese nombre del paciente" required />
                <mat-error> El nombre es requerido </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
            <mat-label>DNI del paciente</mat-label>
            <input type="text" class="my-custom-input" id="dni" name="dni" formControlName="dni"
                matInput placeholder="Ingrese DNI del paciente"  />
            <mat-error> El número de documento debe tener entre 7 y 9 caracteres </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Ingresar fecha de atención</mat-label>
            <input matInput type="date" name="date" formControlName="date">
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Laboratorio</mat-label>
                <mat-select #mySelect id="lab" name="lab" formControlName="lab" >
                <mat-option value="PARACELSUS">PARACELSUS</mat-option>
                <mat-option value="GALENO">GALENO</mat-option>
                <mat-option value="SAN ALBERTO">SAN ALBERTO</mat-option>
            </mat-select>
        </mat-form-field>
        <div class="full-width">
        <!-- <input type="file" accept=".pdf" (change)="enviarArchivo($event)" required />--> 
        <div  (dragover)="permitirArrastrar($event)"(drop)="soltarArchivo($event)" style="border: 2px dashed #ccc; padding: 20px;">Arrastra y suelta aquí tu archivo PDF</div>
    </div>        
        <div *ngIf="archivoArrastrado" class="file-name">{{ archivoArrastrado.name }}</div>
        <button [disabled]="enviando" (click)="onSubmit()">Enviar</button>
        <p *ngIf="errorMessage">{{ errorMessage }}</p>
        
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
            </form>
        </div>
    </div>
    