<div class="photo-as">
    <p class="p-as">Te contamos un poco de nuestro lugar</p>
</div>
<h1>NUESTRO LABOATORIO</h1>
<p>Como te comentamos un poco en nuestra pagina de inicio, Somos el fruto de una empresa familiar que se va profesionalizando día a día gracias a nuestra comunidad, te queremos mostrar nuestros progresos y nuestro lugar si es que aún no nos has visitado. Contarte un poco sobre quienes somos y que a donde nos gustaría llegar.</p>
<div class="row">
    <div class="col-5">
        <img src="../../../../../assets/statics/mision2.jpg" class="mision-photo" style="box-shadow: -8px -8px 15px #7a7a7a;"/>
    </div>
    <div class="col-5">
        <h1>MISIÓN:</h1>
        <p>SER LA DE SALUD QUE BRINDA EL SERVICIO ANALISIS CLINICOS PRECISO PARA QUE LOS PROFESIONALES DE SALUD PUEDAN REALIZAR UN DIAGNOSTICO CERTERO, SUPERANDO LA EXPECTATIVAS DE NUESTRSO PACIENTES, BRINDANDO SOPORTE Y ASESORAMIENTO A PACIENTES Y COLEGAS.</p>
    </div>
    </div>

    <div class="row">
        <div class="col-5">
            <li>Procuramos la mejora de procesos, renovación de manera continua el equipamiento y la infraestructura de nuestro laboratorio.</li>
            <li>Realizando la más amplia diversidad de estudios para satisfacer las crecientes necesidades de las distintas especialidades médicas.</li>
        </div>
        <div class="col-5">
            <img src="../../../../../assets/statics/mision.jpg" class="mision-photo" style="box-shadow: 8px -8px 15px #7a7a7a;"/>
        </div>
        </div>
        <div class="row">
            <div class="col-5 contenedor">
                <img src="../../../../../assets/statics/coronavirus-vaccine-composition-in-lab-scaled.jpg" class="mision-photo imagen-fondo" style="box-shadow: -8px -8px 15px #7a7a7a;"/>
            </div>
            <div class="col-5">
                <h1>VALORES</h1>
                <li>Estar atentos a sus necesidades</li>
                <li>Escucha activa a su situación con nuestro servicio</li>
                <li>Ser útil a su urgencia</li>
                <li>Ser responsable de nuestars acciones</li>
                <li>Proporcionar al paciente una rápida y efectiva atención</li>
                <li>Poder entregar soluciones e indicaciones que este a nuestro alcance</li>
            </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <h1>VALORES</h1>
                    <p>Poder hacer nuestra empresa mas grande y adquirir nuevos profesionales de distintas ramas de la salud y de otras profesiones. para que nuestro servicio este a la vanguardia de la salud y las necesidades del cliente.</p>
                </div>
                <div class="col-5">
                    <img src="../../../../../assets/statics/corazon.jpg" class="mision-photo" style="box-shadow: 8px -8px 15px #7a7a7a;"/>
                </div>
                </div>