.photo-as {
    background-image: linear-gradient(to bottom, rgba(0, 0, 255, 0.2), rgba(0, 0, 255, 0.2)), url('../../../../../assets/statics/man-and-woman-take-blood-for-analysis-scaled.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 20em;
    text-align: center;
    color: #fff;
    padding: 3em;
    margin-bottom: 4em;
}

.p-as {
    color: #fff;
    font-family: 'Poppins';
    text-align: center;
    font-size: 26px;
    line-height: 1.5;
}

p {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 300;
    margin: 2rem;
    color: #7A7A7A;
}

h1 {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    color: #7A7A7A;
}

.row {
    justify-content: center;
    align-items: center;
    width: 100%;
}

.mision-photo {
    width: 550px;
}

li {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 300;
    color: #7A7A7A;
    }

    @media (max-width: 1350px) {
        .mision-photo {
            width: 400px;
        } 
    }

    @media (max-width: 1000px) {
        .row {
            flex-direction: column;
        }

        .mision-photo {
            width: 17em;
        } 
        
        .col-5 {
            width: 90%;
            margin: 1em 2em;
            display: flex;
    flex-direction: column;
    align-items: center;
        }

        .none {
            display: none;
        }

        li {
            padding: 0 2em;
        }
        }
    



