hr {
    width: 100%;
    margin: 0;
}


.logo {
    width: 200px;
}
.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    justify-content: flex-end;
}

.navbar {
    margin: 0 5vw;
}

.nav-link {
    margin-left: 2em;
    font-size: 17px;
}

.desktop-menu{
    margin-right: 2em;
    justify-content: flex-end;
}

.mat-toolbar{
    height: auto;
    width: 97%;
    margin: 1em;
    background-color: #fff;
}

.mat-toolbar-multiple-rows {
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center
}

.menu-button{
    height: 2em;
    background-color: #fff;
}

.iconos {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

i {
    margin: 10px;
    font-size: 18px;
}
.form-control {
    width: 200px;
}

form {
    display: flex;
}

.menu-button {
    display: none; /* El botón de menú se oculta por defecto */
  }
  
  .desktop-menu {
    display: flex; /* Los elementos del menú se muestran horizontalmente */
  }
  
  @media only screen and (max-width: 600px) {
    .menu-button {
      display: block; /* El botón de menú se muestra en pantallas pequeñas */
    }
  
    .desktop-menu {
      display: none; /* Los elementos del menú se ocultan en pantallas pequeñas */
    }
  }
  