.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 80%; 
    max-width: 500px;
    height: auto;
    box-sizing: border-box;
    position: relative;
  }

  .close-btn {
    position: absolute;
    top: 1em;
    right: 2em;
    border: none;
    background-color: #fff;
  }
  
  i{
    font-size: 2em;
  }

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 85%;
}

.btn-info{
  margin: 1em 5em;
  padding: 1em;
  background-color: #1BC375;
  border: #1BC375;
  color: #fff;
}

.card {
  margin: 5em;
  display: flex;
  align-items: center;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}

h1 {
  margin: 1em;
}