<div class="modal">
    <div class="modal-content">
        <button class="close-btn" (click)="closeModal()"><i class="fa-regular fa-circle-xmark"></i></button>
        <h1>Editar</h1>
        <form>
            <mat-form-field class="full-width">
                <mat-label>Nombre paciente</mat-label>
                <input class="my-custom-input" id="name" name="name" formControlName="name"
                    matInput placeholder="Ingrese nombre del paciente" required />
                <mat-error>
                    El nombre es requerido
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
            <mat-label>DNI del paciente</mat-label>
            <input class="my-custom-input" id="dni" name="dni" formControlName="dni"
                matInput placeholder="Ingrese DNI del paciente" required />
            <mat-error>
                El DNI es requerido
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Archivo</mat-label>
            <input class="my-custom-input" id="file" name="file" formControlName="file"
                matInput placeholder="Suba archivo" required />
            <mat-error>
                El archivo es requerido
            </mat-error>
        </mat-form-field>
        <button class="btn-info">Guardar</button>
            </form>
    </div>
</div>