<div class="containere">
  <div class="card">
    <h1>Descargar estudios</h1>
    <form [formGroup]="formGroup">
      <mat-form-field class="full-width">
        <mat-label>DNI</mat-label>
        <input formControlName="dni" type="text" [(ngModel)]="dni" placeholder="Ingrese DNI" required matInput>
        <mat-error>Ingresar un numero válido</mat-error>
      </mat-form-field>
      <div *ngIf="errorMessage !== ''" class="error-message">{{ errorMessage }}</div>
      <button type="submit" [disabled]="formGroup.invalid" (click)="search()">Buscar...</button>
    </form>
  </div>
  
  <div class="table-responsive" *ngIf="(pacientes$ | async) as pacientes">
    <table class="table">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Nombre</th>
          <th>DNI</th>
          <th>Archivo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let paciente of pacientes">
          <td data-label="Fecha">{{ formatearFecha(paciente.date) }}</td>
          <td data-label="Nombre">{{ paciente.name }}</td>
          <td data-label="DNI">{{ paciente.dni }}</td>
          <td data-label="Archivo"><a class="btn-descargar" href="{{ paciente.file }}" target="_blank">Descargar</a></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4"></td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>